@use '../globals/colors';

#send-it {
    border: none;
    padding: 1rem;
    background-color: colors.$button-color;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#send-it:active {
    background-color: colors.$off-white;
    .custom-send-button {
        color: colors.$button-color;
    }
}