@use '../globals/colors';

.chatbox-container {
    flex: 1;
    outline: 1px solid colors.$input-dark;
    margin-inline: 11px;
    border-radius: 2px;
}

.chats {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    background-color: colors.$input-dark;
    margin: 0.75rem;
    border-radius: 2px;
}

#ai-icon {
    color: colors.$button-color;
}

.icon {
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.ai {
    padding-right: 0.5rem;
}