@use '../globals/colors';

.user-input-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#user-input {
    font-size: 1.1rem;
    font-weight: 500;
    background-color: colors.$input-dark;
    color: colors.$input-text;
    outline: none;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0.5rem;
    flex: 9;
}

#user-input::placeholder {
    color: colors.$input-text;
}


