@use '../globals/colors';

header {
    display: flex;
    place-content: center;
}

span {
    color: colors.$button-color;
}

h1 {
    font-weight: 600;
}

input {
    font-weight: 500;
    background-color: colors.$input-dark;
    color: colors.$input-text;
    outline: none;
    border: none;
    /* outline & border none are temporary */
}

#send-it {
    outline: none;
    border: none;
    /* outline & border none are temporary */
}

input::placeholder {
    color: colors.$input-text;
}

button {
    background-color: colors.$button-color;
}
