@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600&display=swap');

:root {
    --light-black: #222222;
    --off-white: #EEEEEE;
    --input-dark: #303133;
    --input-text: #BDBFC4;
    --button-color: #5B74E3;
}

body {
    font-family: 'Assistant', sans-serif;
    background-color: var(--light-black);
    color: var(--off-white)
}

/* FontAwesome Icons, customized */

.custom-robot-icon {
    color: var(--button-color);
}

.custom-send-button {
    color: var(--off-white);
}

/* End of FontAwesome Icons, customized */

header {
    display: flex;
    place-content: center;
}

span {
    color: var(--button-color)
}

h1 {
    font-weight: 600;
}

input {
    font-weight: 500;
    background-color: var(--input-dark);
    color: var(--input-text);
    outline: none;
    border: none;
    /* outline & border none are temporary */
}

#send-it {
    outline: none;
    border: none;
    /* outline & border none are temporary */
}

input::placeholder {
    color: var(--input-text)
}

button {
    background-color: var(--button-color);
}